h1 {
    font-size: ;
    font-family: ;
    padding: 10 px;
    margin: 2px ;
    font-weight: ;
    text-decoration: ;
    color: ;
    background-color: ;
    text-align: center;
}

h2 {
    font: ;
    font-family: ;
    padding: ;
    margin: 5% 0;
    font-weight: ;
    color: ;
    background-color: ;
    text-align: center;
}

p {
    font-family:Georgia,serif ;
    font-size: ;
    padding: ;
    margin: 2px;
    color: ;
    background-color: ;
}

.logo {
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url();
    background-color:red;
    height: 300px  ;
    width:  300px;
}
